  {% extends "base/base_table.html" %}

  {% block naglowek %}Rozbijanie zespolonego elementu na podzespoły - BOM{% endblock %}

  {% block formularz %}
        {{ super() }}
        <form method="POST" action="{{ url_for('zakupy_front.bomorozbijacz') }}" enctype="multipart/form-data">
            <div class="form-group">
              {{ form.csrf_token }}
              {% for error in form.list_of_bom.errors %}
                  {{error}}
               {% endfor %}
              <label  class="form-label">Podaj listę pozycji do rozbicia na Bomy. Uwaga! podaj kody bez projektu.</label>
              {{ form.list_of_bom(class_="form-control", rows="2" ) }}
            </div>
            </br>
            <div class="form-check">
              {% for subfield in form.all_boms %}
                  {{ subfield }} {{ subfield.label }}</br>
              {% endfor %}
            </div>
            <hr>
            <div><button type="submit" class="btn btn-dark" onclick="loading();">Wyślij</button></div>
        </form>
   <div id="loading" style="display: none; margin-left: auto; margin-right: auto; width: 220px; height: 19px; background: url({{ url_for('zakupy_front.static', filename='pic/ajax-loader.gif') }}) no-repeat center center; cursor: wait;"></div>
  {% endblock %}