  <nav class="navbar navbar-dark bg-dark col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active text-light" href="#">
                  <span data-feather="home"></span>
                  Menu: <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('zakupy_front.index') }}">
                  <span data-feather="file"></span>
                  Strona główna
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('zakupy_front.bomorozbijacz') }}">
                  <span data-feather="bar-chart-2"></span>
                  Rozbijanie BOMu
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('zakupy_front.cenniki') }}">
                  <span data-feather="bar-chart-2"></span>
                  Cenniki
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('zakupy_front.raports_to_xlsx') }}">
                  <span data-feather="bar-chart-2"></span>
                  Reporty do xlsx
                </a>
              </li>
            </ul>
            {% if current_user.is_authenticated %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Administracja</span>

                <span data-feather="edit"></span>

            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item ">
                <a class="nav-link text-light" href="{{ url_for('zakupy_front.user_account') }}">
                  <span data-feather="user"></span>
                  Moje konto
                </a>
              </li>
              {% if current_user.role_id == 2 %}
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('zakupy_front.get_users') }}">
                  <span data-feather="user"></span>
                  Użytkownicy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('zakupy_front.add_raports') }}">
                  <span data-feather="plus-circle"></span>
                  Dodaj raport
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('zakupy_front.scheduler_config_page') }}">
                  <span data-feather="edit"></span>
                  Edycja harmonogramu
                </a>
              </li>
            </ul>
            {% endif %}
            {% endif %}

          </div>
</nav>